<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555249714776-n1ir0om0p9j24ohfltlg8md4dam3khve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555249714776-n1ir0om0p9j24ohfltlg8md4dam3khve</string>
	<key>API_KEY</key>
	<string>AIzaSyBixllPPXc8t94OmQRsAzpwEuGvsH016f0</string>
	<key>GCM_SENDER_ID</key>
	<string>555249714776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyungsoo.GoogleLoginTutorial</string>
	<key>PROJECT_ID</key>
	<string>login-tutorial-1673092270470</string>
	<key>STORAGE_BUCKET</key>
	<string>login-tutorial-1673092270470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555249714776:ios:6899b6fc18fd5b26a02c2d</string>
</dict>
</plist>